:root {
    font-family: Helvetica;
    font-size: 24px;
    background-color: rgb(243, 251, 245);
}

hr {
    border-color: rgb(29, 75, 2)
}

.header-section {
    display: flex;
    margin: 0 64px;
}

.header-section>* {
    width: 50%;
    padding: 64px;
    font-weight: 400;

}

.title {
    font-size: 64px;
    font-weight: 400;
}

.header-details>*:not(:first-child) {
    margin-top: 0;
}

.header-details>* {
    margin-bottom: 0;
}

.header-links>ul {
    list-style: none;
    padding: 0;
}

.main-content {
    display: flex;
}


main, aside{
    width: 50%;
    margin: 0 64px;
    position: relative;
}

main>* {
    padding: 32px 64px;
}

summary {
    cursor: pointer;
    padding-bottom: 12px;

}

summary {
    list-style: none;
    /* Removes the default marker for most browsers */
}

summary::-webkit-details-marker {
    display: none;
    /* Removes the default marker for Webkit/Chromium browsers */
}

details.future {
    color: gray;
}

details.future>summary {
    cursor: default;
}

.unit-title {
    /* text-transform: uppercase; */
    font-size: 36px;
    padding-bottom: 12px;
    /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    /* font-weight: 600; */
}

.week {
    /* text-transform: uppercase ; */
}

a {
    color: black;
}

ol {
    /* list-style: none; */
    margin-top: 0px;
}

.in-class>li {
    display: flex;
    justify-content: space-between;
}

.in-class>li>*:nth-child(2) {
    /* text-transform: uppercase; */
    /* font-size: 12px; */
    /* font-weight: 600; */
    outline: 1px;
    margin: 0;
    padding: 0;
    border-radius: 5%;
}


/* Animation */

.animated-rect {
    /* position: fixed; */
    /* transform: translate(50%, -25%); */
    height: 300px;
    width: 300px;
    background-color: green;
    border-radius: 50%;
}