@font-face {
    font-family: 'Favorit';
    src: url('/fonts/ABCFavorit-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Favorit';
    src: url('/fonts/ABCFavorit-Bold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Favorit';
    src: url('/fonts/ABCFavorit-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Diatype';
    src: url('/fonts/ABCDiatypeVariable.woff') format('woff');
    font-style: normal;
}

:root {
    --margin: 3vw;
    --font-size-base: clamp(1.3rem, 1.3vw, 1.8rem);
    --font-size-title: clamp(3.5rem, 4vw, 4.5rem);
    --font-size-h2: clamp(1.8rem, 1.7vw, 2.2rem);
    --gray: rgb(100, 100, 100);
    --blue: rgb(15, 69, 228);
    --darkorange: rgb(211, 51, 7);
    font-family: Favorit;
    background-color: rgb(255, 255, 255);
    letter-spacing: -0.01em;
}

body {
    margin: 0 var(--margin);
    font-size: var(--font-size-base);
}

.header-section {
    display: flex;
    flex-direction: row;
}

.header-section>* {
    width: 50%;
    padding: 64px;
    pading-bottom: 16px;
    font-weight: 400;
}



.title {
    font-family: 'Diatype', sans-serif;
    font-size: var(--font-size-title);
    font-weight: 460;
    letter-spacing: -0.07em;
}


.header-details>*:not(:first-child) {
    margin-top: 0;
}

.header-details>* {
    margin-bottom: 0;
}

.header-links>ul {
    list-style: none;
    padding: 0;
}

.main-content {
    display: flex;
}


main {
    width: 50%;
    position: relative;
}

aside {
    width: 50%;
    position: relative;
}

main>* {
    padding: 32px 64px;

}

summary {
    cursor: pointer;
    padding-bottom: 12px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

summary {
    list-style: none;
    /* Removes the default marker for most browsers */
}

summary::-webkit-details-marker {
    display: none;
    /* Removes the default marker for Webkit/Chromium browsers */
}

details summary::after {
    content: "↓";
    margin-right: 5px;
    transition: transform 0.2s;
}

details[open] summary::after {
    content: "↑";
    /* transform: rotate(180deg); */
}

details.future {
    color: gray;
}

details.future>summary {
    cursor: default;
}

.unit-title {
    font-size: var(--font-size-h2);
    font-family: "Diatype", sans-serif;
    /* color: var(--blue); */
    padding-bottom: 12px;
    letter-spacing: -1px;
    font-weight: 530;

}

a {
    color: black;
}

a:hover {
    color: var(--darkorange);
}

ol {
    /* list-style: none; */
    margin-top: 0px;
}

.in-class>li {
    display: flex;
    justify-content: space-between;
}

.in-class>li>*:nth-child(2) {
    outline: 1px;
    margin: 0;
    padding: 0;
    border-radius: 5%;
}


/* Animation */

.animated-rect {
    /* position: fixed; */
    /* transform: translate(50%, -25%); */
    height: 300px;
    width: 300px;
    background-color: green;
    border-radius: 50%;
}

/* Mobile */

@media (max-width: 768px) {
    :root {
        font-size: 0.9em;
    }

    .header-section {
        flex-direction: column;
    }

    .header-section>* {
        width: 100%;
        padding: 32px 0;
    }

    main {
        width: 100%;
    }

    aside {
        display: none;
    }

    main>* {
        padding: 32px 0;
    }
}